@page
@model DineAuto.Pages.Cart.CartModel
@{
	ViewData["Title"] = "Cart";
}

<form method="post">
	<ul>
		@foreach (var item in Model.userCart.items)
		{
			<li>@item.ItemName</li>
		}
	</ul>
</form>


