@page
@model DineAuto.Pages.UserDashboards.AdminDashboardModel
@{
	ViewData["Title"] = "Admin Dashboard";
}


<div class="text-center">
    <h2 class="display-1">Admin Dashboard</h2>
    <p class="text-center">
        <a class="nav-link d-inline font-weight-bold text-dark" asp-area="" asp-page="/login">Create Owner Account</a>
    </p>
</div>