@page
@model DineAuto.Pages.UserDashboards.CustomerDashboard.CustomerDashboardModel
@{
    ViewData["Title"] = "Customer Dashboard";
}

<div class="text-center">
    <h3 class="display-1">My Funds</h3>
    <h4 class="display-6">Balance: $@Model.getBalance()</h4>
</div>

<div>
    <!-- Button to open form -->
    <button class="btn btn-primary" onclick="document.getElementById('fundsForm').style.display='block'">Add Funds</button>
</div>

<!-- This form pops up when user clicks on Add Funds button -->
<form method="post" id="fundsForm" style="display: none;">
    <label>Enter Amount:</label>
    <input type="number" asp-for="Amount" min="1" required>
    <button type="submit" asp-page-handler="AddFunds" class="btn btn-primary">Confirm</button>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
