@page
@model DineAuto.Pages.UserDashboards.OwnerDashboardModel
@{
    ViewData["Title"] = "Owner Dashboard";
}

<div class="text-center">
    <h2 class="display-1">Owner Dashboard</h2>
    <p class="text-center">
        <a class="nav-link d-inline font-weight-bold text-dark" asp-area="" asp-page="/CreateAccounts/RegisterRestaurant">Register New Restaurant</a>
        <span class="mx-2"></span>
        <a class="nav-link d-inline font-weight-bold text-dark" asp-area="" asp-page="/UserDashboards/ViewRestaurants">View My Restaurants</a>
    </p>
</div>
