@page
@model DineAuto.Pages.UserDashboards.RestaurantDashboardModel
@{
    ViewData["Title"] = "Restaurant Dashboard";
}

<div class="text-center">
    <h2 class="display-4">@Model.RestaurantName Dashboard</h2>
    <h4>Menu</h4>

    @if (Model.MenuItems != null && Model.MenuItems.Count > 0)
    {
        <ul class="list-group w-50 mx-auto mt-3">
            @foreach (var item in Model.MenuItems)
            {
                <li class="list-group-item">
                    <strong>@item.Name</strong> - $@item.Price
                    <br />
                    <em>@item.Description</em>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No menu items found.</p>
    }
</div>
