# User-specific files
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code & Visual Studio folders
.vs/
.vscode/

# Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

# ASP.NET specific
*.sourcelink.json
*.staticwebassets.*
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Other
*.tmp
*.bak
