@page
@model DineAuto.Pages.RegisterRestaurants.RegisterRestaurantModel
@{
    ViewData["Title"] = "Register Restaurant"; // Page title
}

<!-- Restaurant Registration Form -->
<div class="container mt-4">
    <h2 class="display-4">Register Restaurant</h2>

    <!-- Display error message if restaurant already exists -->
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        var alertClass = Model.IsSuccess ? "alert-primary" : "alert-danger";
        <div class="alert @alertClass" role="alert">
            @Model.Message
        </div>
    }


    <!-- Form for restaurant name and password -->
    <form method="post" class="w-50">
        <div class="mb-3 text-start">
            <label for="RestaurantName" class="form-label">Restaurant Name</label>
            <input type="text" id="RestaurantName" name="RestaurantName" class="form-control" style="max-width: 600px;" required>
        </div>
        <div class="mb-3 text-start">
            <label for="RestaurantCuisine" class="form-label">Cuisine</label>
            <input type="text" id="RestaurantCuisine" name="Cuisine" class="form-control" style="max-width: 600px;" required>
        </div>
        <div class="mb-3 text-start">
            <label for="RestaurantCity" class="form-label">City</label>
            <input type="text" id="RestaurantCity" name="City" class="form-control" style="max-width: 600px;" required>
        </div>
        <div class="mb-3 text-start">
            <label for="RestaurantState" class="form-label">State</label>
            <input type="text" id="RestaurantState" name="State" class="form-control" style="max-width: 600px;" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
