@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-1">Welcome to DineAuto</h2>
    <h2 class="display-6">An online food delivery service</h2>
</div>