@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(HttpContext.Session.GetString("UserRole") == null)
{
    <div class="text-center">
        <h2 class="display-1">Welcome to DineAuto</h2>
        <h2 class="display-6">An online food delivery service</h2>
    </div>
}

@if(HttpContext.Session.GetString("UserRole") == "Owner")
{
    <div class="text-center">
        <h2 class="display-1">Owner Dashboard</h2>
        <p class="text-center">
            <span class="mx-2"></span>
            <a class="nav-link d-inline font-weight-bold text-dark" asp-area="" asp-page="/CreateAccounts/RegisterRestaurant">Register New Restaurant</a>
            <span class="mx-2"></span>
            <a class="nav-link d-inline font-weight-bold text-dark" asp-area="" asp-page="/LoginMethods/RestaurantLogin">Restaurant Log In</a>
        </p>
    </div>

}